body {
	margin: 0;
	overflow-y: hidden;
	overflow-x: hidden;
	background: black;
	cursor: none;

}
.title {
	padding-bottom: 200px;
	background: black;
	width: 100%;
	height: 100vh;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all 2s ease;
	opacity: 1;
	z-index: 20;
}

/*.title h1{
	font-size: 8em;
	color: white;
}

.title p {
	font-size: 1.2em;
	color: white;
}*/

.title input {
	margin-bottom: 50px;
	font-size: 1.5em;
	text-align: center;
	background-color: black;
	color: white;
}
.title h1{
	font-size: 8em;
	font-family: 'Special Elite', cursive;
	color: white;
	opacity: 80%;
}
.title h2{
	
	font-size: 4em;
	font-family: 'Special Elite', cursive;
	opacity: 40%;
	color: #fff;
	overflow: hidden; /* content not revealed until the animation */
	border-right: .15em solid #DA0037; /* cursor */
	white-space: nowrap; /* keep content on a single line */
	margin: 0 auto; /* scrolling effect */
	margin-top: -100px;
	margin-bottom: 100px;
	letter-spacing: .05em; 
	animation: 
		typing 4s steps(30, end),
		blinking 0.5s step-end infinite;
}

/* typing effect */
@keyframes typing {
	from { width: 0 }
	to { width: 38% }
}

/* typewriter cursor effect */
@keyframes blinking {
	from, to { border-color: transparent }
	50% { border-color: #DA0037 }
}

.fadeout {
	opacity: 0%;
}
.fadein {
	opacity: 100%;
}

.headphones {
	background: black;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	opacity: 100%;
	transition: all 4s ease;
}

.headph {
	/*margin-top: 100%;*/
	width: 100%;
	height: 100%;
}

.shelf {
	width: 100vw;
	height: 100vh;
	opacity:5%;
}

/* Flashlight Overlay */
.start {
	cursor: none;
	--cursorX: 50vw;
	--cursorY: 50vh;
	background: black;
	transition: all 2s ease;

}


.start::before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: fixed;
	background: radial-gradient(
		circle 10vmax at var(--cursorX) var(--cursorY),
		rgba(0,0,0,0) 0%,
		rgba(0,0,0,.5) 80%,
		rgba(0,0,0,.95) 100%
	)
}

#win {
	padding-bottom: 200px;
	background: black;
	width: 100%;
	height: 100vh;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all 2s ease;
	opacity: 0;
	z-index: 20;
}
#lose {
	padding-bottom: 200px;
	background: black;
	width: 100%;
	height: 100vh;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all 2s ease;
	opacity: 0;
	z-index: 20;
}